body {
    background-color: rgb(10, 10, 10);
  }
  .container {
max-width: fit-content;

  }
  .home-text-color{
    color:rgb(247, 234, 217)
  }

  .home-text {
    font-family:'Courier New', Courier, monospace;
    font-size:large;
  }

  .hello {
    font-size: 100px;
    margin-bottom: 15px;
  }

  .name {
    font-size: 45px;
  }

  .space {
    margin-bottom: 200px; 
  } 

  .imageContainer {
    background-image: url('../../Assests/keyboard.jpg');
    background-size: cover;
  background-position: center;
  }

